doctype html
head
  link(rel='stylesheet', href='css/app.css')
  title Marcus Nordberg, 2016

body
  section.hero.is-medium.is-dark.is-bold
    div.hero-head
      header.nav
        div.container
          div.nav-left
            a.nav-item
              h1.title Marcus Nordberg
          div.nav-right
            a.nav-item Vim, indentation, and whatnot
