doctype html
head
  link(rel='stylesheet', href='css/app.css')
  title Marcus Nordberg, 2016

body
  section.hero.is-medium.is-dark.is-bold
    div.hero-head
      header.nav
        div.container
          div.nav-left
            a.nav-item
              h1.title Marcus Nordberg
          div.nav-right
            a.nav-item Vim, indentation, and whatnot

  div.rows
    div.row
      h1.title Education
      div.columns
        div.column.is-one-quarter
          p 2012 - present
        div.column.is-two-thirds
          p KTH, Royal Institute of Technology, Stockholm
    div.row
      h1.title Working Life
      div.columns
        div.column.is-one-quarter
          p 2014 - 2016
        div.column.is-one-quarter
          p Software Developer
        div.column.is-two-thirds
          p Ericsson, Kista
    div.row
      h1.title Extracurriculur Activities
      div.rows
        div.row
          div.columns
            div.column.is-one-quarter
              p 2015 - 2016
            div.column.is-one-quarter
              p Project Leader
            div.column.is-two-thirds
              p Osqledaren
        div.row
          div.columns
            div.column.is-one-quarter
              p 2015 - 2016
            div.column.is-one-quarter
              p Project Leader
            div.column.is-two-thirds
              p Studieresan
        div.row
          div.columns
            div.column.is-one-quarter
              p 2014 - 2015
            div.column.is-one-quarter
              p Photographer
            div.column.is-two-thirds
              p Osqledaren
