doctype html
head
  title Marcus Nordberg, 2016

body
  div(class="div__top-jumbotron") Jumbotron
    div(class="div__top-jumbotron__profile-pic") Bild
  div(class="div__content")
    div(class="div__content__left")
      h2 Left content
    div(class="div__content__right")
      h2 Right content
