doctype html
head
  link(rel='stylesheet', href='css/app.css')
  title Marcus Nordberg, 2016

body
  section(class='hero is-dark is-bold')
    div.container
      h1.title Marcus Nordberg
      h2.subtitle Vim, indentation, and whatnot
